name: telegram-bot-alert

services:
  app:
    build:
      context: .
      target: prod
    restart: on-failure:10
    container_name: telegram-bot-alert
    environment:
      - DOTENV_PRIVATE_KEY_PRODUCTION=${DOTENV_PRIVATE_KEY_PRODUCTION}
